body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

button {
    border: none;
    cursor: pointer;
    transition: transform 0.05s;
}

.input-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.main-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

.main-button:hover {
    background-color: #0056b3;
}

.main-button:active {
    background-color: #0056b3;
    transform: scale(0.9);;
  }

.barcode-list-container {
    width: 80%;
    max-width: 600px;
    max-height: 400px;
    /* Ограничиваем высоту списка */
    overflow-y: auto;
    /* Добавляем прокрутку */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.barcode-item {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.delete-button {
    visibility: hidden;
    position: absolute;
    right: 0;
    width: 80px;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(249, 249, 249);
    background: linear-gradient(90deg, rgba(249,249,249,1) 0%, rgba(221,221,221,1) 50%, rgba(221,221,221,1) 100%);
}

img.img-delete {
    width: 30px;
    transition: width, background 0.2s;
}

.barcode-item:hover .delete-button {
    visibility: visible;
}

.delete-button:hover {
    background: linear-gradient(90deg, rgba(249,249,249,1) 0%, rgba(255,0,0,0.30) 100%);
}

.delete-button:hover img.img-delete {
    width: 35px;
}

.delete-button:active img.img-delete{
    width: 30px;
    content: url("../img/delete_active.png");
}

.print-button {
    margin-bottom: 20px;
}

@media print {
    body * {
        visibility: hidden;
    }

    .barcode-list-container,
    .barcode-list-container * {
        visibility: visible;
    }

    .barcode-list-container {
        position: absolute;
        left: auto;
        top: auto;
        width: 100%;

        max-height: none;
        overflow: visible;
    }

    .barcode-item {
        page-break-inside: avoid;
        /* Избегаем разрыва штрих-кодов на страницах */
    }

    .delete-button * {
        visibility: hidden;
    }
}